h1,h4 {
  font-family: "Times";
  margin-top: 10px;
  margin-bottom: 10px;  
  margin-right: 0px;
  margin-left: 200px;
  width: 100%;
}

p{
  font-family: "Times";
  margin-top: 20px;
  margin-bottom: 20px;  
  margin-right: px;
  margin-left: 200px;
  width: 50%;
}

img{
width:40%;
margin-top:  0px;
margin-bottom: 0px;
margin-right: 200px;
margin-left: 200px;
}

margin-top:  0px;
margin-bottom: 0px;
margin-right: 200px;
margin-left: 200px;;

body {
width: 100%;
background-color: whitesmoke;
font-family: "Times"; 
}

header nav{
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;      
}

header nav ul li a{   
    background-color: lightgray;
    font-family: "Helvetica";
    float: left; 
    padding: 0 20px;
    line-height: 45px;   
    font-weight: bold;
    text-decoration: none;
    color: black;
    opacity: 0.4;
    transition:opacity 0.4s;       
}

header nav ul li a:hover{
    opacity: 1;
}

.container {
 width: 800px;
 margin: 0px auto;
float: left
}